.App {
/* text-align: center; */
margin: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.patternSvgText {
  font-size: 4px;
  font-family: sans-serif;
}

.patternSvgLine {
  stroke-width: .5px;
  stroke: black;
  fill: none;
}

.patternSvgPoint {
  stroke: black
}